.sidebar {
    width: 250px;
    display: inline-block;
    height: calc(100vh - var(--navbar-height));
    background-color: #ff0000;
    position: relative;
    transition: all 0.3s;

}

.sidebar-arrow {
    position: absolute;
    top: 30px;
    right: -15px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(50, 138, 232);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.sidebar-arrow>.icon {
    color: white;
    font-size: 1.2rem;
}