.tableau {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    background-color: aquamarine;
}

.tableau-head {
    --tableau-head: 50px;
    height: var(--tableau-head);
    width: 100%;
}

.tableau-body {
    height: auto;
    width: auto;

}